
* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

nav {
    padding: 2em 0;
    width: 100%;
    height: 6em;
    background-color: rgb(20, 57, 69);
}

nav .container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

nav p {
    color: white;
    font-family: "Inter";
    font-size: 18pt;
    margin: 0em;
    margin-right: 2em;
    
}

nav a {
    color: white;
    font-family: "Inter";
    font-size: 18pt;
    margin: 0em;
    margin-right: 2em;
}

header .container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

header .right {
    width: 33.333%;
    max-width: 240px;
    flex-shrink: 0;
}

.container {
    padding: 0 6rem;
    max-width: 1280px;
    margin: 0 auto;
}

#Logo {
    width: 4em;
    margin: 2em;
    text-align: left;
}

button {
    width: 12em;
    height: 4em;
    background-color: orange;
    border-radius: 1.2em;
    justify-content: right;
}

button p {
    color: white;
}

h1 {
    font-family: "Darker Grotesque";
    font-weight: 100;
    font-size: 24pt;
    color: orange;
    margin-top: 4em;
}

h2 {
    font-family: "Darker Grotesque";
    font-size: 32pt;
    color: black;
}

h3 {
    font-family: "Darker Grotesque";
    font-size: 18pt;
    color: orange;
}

h4 {
    font-family: "Inter";
    font-size: 16pt;
    color: black;
}

p {
    font-family: "Inter";
    font-size: 12pt;
    color: black;
}

#Foto {
    width: 100%;
    margin-top: 8em;
}

.Projecten ul {
    list-style: none;
    margin: 0 -20px;
    padding: 0;
}

.Projecten ul li {
    padding: 0 20px;
    margin-bottom: 80px;
}

.Projecten img {
    width: 100%;
    height: auto;
    border-radius: 1em;
}

.Tijdlijn .container {
    display: flex;
    gap: 40px;
}

.Tijdlijn article {
    width: 50%;
}

footer {
    width: 100%;
    height: 24em;
    color: black;
    padding: 1.5rem 0;
    margin-top: 4em;
    background-color: rgba(252, 203, 146, 1);
}

footer img {
    width: 2em;
    height: auto;
    margin: 2em;
    margin: 2em;
    display: flex;
    justify-content: center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


footer li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 8pt;
}

footer p {
    font-family: "Darker Grotesque";
    font-size: 16pt;
    color: black;
}

footer h3 {
    font-family: "Darker Grotesque";
    font-weight: bold;
    font-size: 24pt;
    color: black;
}