@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", sans-serif;
    background-color: #FAF2E7;
    margin: 0;
    padding: 0;
    letter-spacing: -0.025em;
}

nav {
    padding: 2em 0;
    width: 100%;
    height: 4em;
}

nav .container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

nav p {
    font-size: 16pt;
    color: grey;
    margin: 0em;
}

nav .links {
    align-items: flex-end;
}

nav a:hover {
    color:black;
}

nav a {
    color: grey;
    font-size: 16pt;
    margin: 0em;
    padding: 0.5em;
}

header .container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

header .right {
    width: 33.333%;
    max-width: 240px;
    flex-shrink: 0;
}

.container {
    padding: 0 6rem;
    max-width: 1280px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5 {
    font-family: 'Albert Sans', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 107px;
    color: #820000;
    margin-top: 3em;
}

h2 {
    font-weight: 200;
    font-size: 24pt;
    line-height: 44pt;
    color: #572406;
    margin-bottom: 2em;
}

h3 {
    font-weight: 400;
    font-size: 18pt;
    color: #820000;
    margin: 0em;
    padding-bottom: 1em;
}

h4 {
    font-weight: 600;
    font-size: 18pt;
    color: black;
    margin: 1em 0em 1em 0em;
    text-align: center;
}

#photo {
    width: 100%;
    margin: 8em 0em 2em 0em;
}

.projects ul {
    list-style: none;
    margin: 0 -20px;
    padding: 0;
}

.projects ul li {
    padding: 0 20px;
    margin-bottom: 80px;
}

.project-image-wrapper {
    overflow: hidden;
}

.projects img {
    width: 100%;
    height: auto;
    border-radius: 1em;
    margin: 0;
    transition: 0.5s ease;
}

.projects li:hover img {
    transform: scale(1.03);
}

.projects p {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 12pt;
    color: black;
    text-align: center;
}

.timeline .container {
    display: flex;
    gap: 120px;
}

.timeline ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline article {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin: 0 0 2em 0;
}


.timeline h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16pt;
    color: black;
    margin: 4em 0em 1em 0em;
    text-align: left;
}

.timeline p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: black;
    text-align: left;
}







@media (max-width: 800px) {
    .container {
        padding: 0 1.5rem;
    }
    header .container {
      flex-direction: column-reverse;
       gap: 2rem;
    }
    
    nav a {
        font-size: 12pt;
    }
    h1 {
        margin-top: 0;
        font-size: 20pt;
    }
    h2 {
        font-size: 24pt;
        line-height: 32pt;
    }
    #photo {
       margin: 0;
    }
    header {
        margin-top: 3rem;
    }
    .timeline .container {
        flex-direction: column;
        gap: 20px;
    }
    .timeline article {
        flex-direction: column;
        gap: 1rem;
    }
    .timeline h4 {
        margin-top: 0;
        padding: 1em 0;
    }
}