
* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

nav {
    padding: 2em 0;
    width: 100%;
    height: 4em;
}

nav .container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

nav p {
    font-family: "Inter";
    font-size: 16pt;
    color: grey;
    margin: 0em;
    
}

nav .links {
    align-items: flex-end;
}

nav a {
    color: grey;
    font-family: "Inter";
    font-size: 16pt;
    margin: 0em;
    padding: 1em;
}

header .container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

header .right {
    width: 33.333%;
    max-width: 240px;
    flex-shrink: 0;
}

.container {
    padding: 0 6rem;
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 24pt;
    color: orange;
    margin-top: 3em;
}

h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 36pt;
    line-height: 44pt;
    color: black;
    margin-bottom: 2em;
}

h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    color: orange;
}

h4 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 18pt;
    color: black;
    margin: 1em 0em 1em 0em;
    text-align: center;
}

#photo {
    width: 100%;
    margin: 8em 0em 2em 0em;
}

.projects ul {
    list-style: none;
    margin: 0 -20px;
    padding: 0;
}

.projects ul li {
    padding: 0 20px;
    margin-bottom: 80px;
}

.projects img {
    width: 100%;
    height: auto;
    border-radius: 1em;
    margin: 0;
}

.projects p {
    font-family: 'Inter', sans-serif;
    font-size: 12pt;
    color: black;
    text-align: center;
}

.timeline .container {
    display: flex;
    gap: 40px;
}

.timeline ul {
    list-style: none;
    padding: 0;
}

.timeline article.education {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.timeline article.workexperience {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.timeline h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16pt;
    color: black;
    margin: 2em 0em 1em 0em;
    text-align: left;
}

.timeline p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: black;
    text-align: left;
}

footer {
    width: 100%;
    height: 440px;
    color: black;
    padding: 0;
    background-color: rgba(252, 203, 146, 1);
}

footer img {
    display: flex;
    justify-content: center;
    width: 2em;
    height: auto;
    margin: 0em 2em 0em 0em;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


footer li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 8pt;
}

footer p {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    color: black;
}

footer h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 24pt;
    color: black;
    padding-top: 2em;
}